.bg-image-button{
    background: url("./assets//Images//bghome.svg");
} 
.review-img{
    background: url('./assets/Images/signup.webp');
    background-size: cover;
}

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000814;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}